<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.nuestrodiario.free.utility.nuestrodiariodigital"
        version = "1.0.0">

   <name>Nuestro Diario Digital</name>

   <description>"Nuestro Diario Digital" Es una aplicacion intuitiva que te mantendra al dia con las noticias nacionales e internacionales.</description>

   <author href="http://www.nuestrodiario.com" email="emaldonado@nuestrodiario.com.gt">Edwin Maldonado</author>

   <icon src="icon.png" gap:role="default" />

   <feature name="http://api.phonegap.com/1.0/network"/>
   <feature name="http://api.phonegap.com/1.0/geolocation"/>

   <preference name="phonegap-version" value="2.2.0" />
   <preference name="target-device" value="universal" />

   <!-- Splash Screens -->
   <gap:splash src="splash.png" />
   <gap:splash src="images/splash-160x220.png" gap:platform="android" gap:density="ldpi" />
   <gap:splash src="images/splash-220x330.png" gap:platform="android" gap:density="mdpi" />
   <gap:splash src="images/splash-450x650.png" gap:platform="android" gap:density="hdpi" />
</widget>